{% extends "layout.html" %}
{% block body %}


  
          <form action="/editar/{{evento.0}}" method="POST" class="formulario_lo"> 

                <div class="text-center">
                    <h1>Editar Evento</h1>
                </div>
  
                  <div class="form-group mb-2">
                    <input class="form-control " type="date" placeholder="Fecha" id="fecha" name="fecha" value="{{evento.3}}" required>
                  </div>
  
                  <div class="form-group mb-2">
                    <input class="form-control " type="text" placeholder="Lugar" id="lugar" name="lugar" value="{{evento.4}}">
                  </div>
  
                  <div class="form-group mb-2">
                    <input class="form-control" type="time" placeholder="Hora" id="hora" name="hora" value="{{evento.2}}">
                  </div>
  
                  <div class="form-group mb-2">
                    <textarea class="form-control " type="text" placeholder="Descripción" id="descripcion" name="descripcion" row="3" required >{{evento.1}}</textarea>
                  </div>
                
              
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success btn-lg">EDITAR</button>
                </div>

              </form>
              <div class="modal-footer left">
                <a href="/eventos" class="btn btn-danger btn-lg">CANCELAR</a>
              </div>
              
    

{% endblock %}