{% extends 'layout.html' %}
{% block body %}
<html>
<div class="row ">
    <div class="col-md-3">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

{% endfor %}
{% endif %}
{% endwith %}

        <div class="card-body formulario_lo">
            <form method="POST">
                <div class="text-center">
                    <h1>Iniciar Sesión</h1>
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="E-MAIL">
                </div>
                <div class="form-group">
                    <input type="password" name="contrasena" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-dark">
                    INGRESAR
                </button>
            </form> <br>
                <td>
                <a href="/registro" class="btn btn-secondary">REGISTRARSE</a>
                </td>
        </div>

    </div>
    <img src="https://image.freepik.com/foto-gratis/escritorio-madera-marron-taza-cafe-agenda-teclado-2-cortaunas-vista-superior-fondo-copyspace_37282-446.jpg" alt="" width="850px" height="500px" class="imag_lo">

</div>
</div>
{% endblock %}