<div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control"  aria-label="nombre"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Apellidos</span>
            <input type="text" class="form-control" aria-label="apellidos"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Edad</span>
            <input type="number" class="form-control" aria-label="edad"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ocupacion</span>
            <input type="text" class="form-control" aria-label="ocupacion"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control"  aria-label="Email"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Contraseña</span>
            <input type="password" class="form-control"  aria-label="contrasena"
                aria-describedby="basic-addon1">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-info" type="button">Registrar</button>
          </div>
    </div>
</div>